###############################################################
# VOXEL PACS DEPLOY
# Ambiente de Produção
# Copie este arquivo para .env e preencha os valores reais.
# NUNCA faça commit do arquivo .env no Git.
###############################################################

###############################################################
# DOMÍNIO
###############################################################

DOMAIN=view.voxelpacs.com.br

###############################################################
# SSL
###############################################################

GENERATE_SSL=yes

CERTBOT_EMAIL=andre@voxelpacs.com.br

###############################################################
# OHIF
###############################################################

OHIF_NAME=VOXEL PACS

OHIF_PORT=3000

###############################################################
# ORTHANC
###############################################################

ORTHANC_PROTOCOL=http

ORTHANC_HOST=46.225.51.122

ORTHANC_PORT=8042

ORTHANC_USERNAME=vivere_admin

ORTHANC_PASSWORD=ChangeMe

ORTHANC_AET=ORTHANCPACS

###############################################################
# DICOMWEB
###############################################################

QIDO_ROOT=/dicom-web

WADO_ROOT=/dicom-web

WADO_URI_ROOT=/wado

###############################################################
# NGINX
###############################################################

NGINX_PORT=80

###############################################################
# DOCKER
###############################################################

COMPOSE_PROJECT_NAME=voxelpacs

###############################################################
# LOGS
###############################################################

TIMEZONE=America/Sao_Paulo

###############################################################
# BACKUP
###############################################################

BACKUP_DIR=./backups

###############################################################
# FUTURO PACS
###############################################################

POSTGRES_ENABLED=no

POSTGRES_DB=voxelpacs

POSTGRES_USER=voxelpacs

POSTGRES_PASSWORD=ChangeMe

REDIS_ENABLED=no

###############################################################
# FIM
###############################################################
