#########################################
# VOXEL PACS
#########################################

DOMAIN=view.voxelpacs.com.br

CERTBOT_EMAIL=andre@voxelpacs.com.br

GENERATE_SSL=yes

#########################################
# ORTHANC
#########################################

ORTHANC_HOST=46.225.51.122

ORTHANC_PORT=8042

ORTHANC_PROTOCOL=http

#########################################
# BACKUP
#########################################

BACKUP_DIR=./backups
